In [70]:
import pandas as pd
import numpy as np
import replacement

In [71]:
df = pd.read_csv('top3000_animes.csv')
df

,Unnamed: 0,Rank,Title,Type,Type_count,Date_start,Date_end,Members,Score
0,0,1,Sousou no Frieren,TV,28,01.09.23,Mar 2024,"557,553",9.14
1,1,2,Fullmetal Alchemist: Brotherhood,TV,64,01.04.09,01.07.10,"3,310,183",9.09
2,2,3,Steins;Gate,TV,24,01.04.11,01.09.11,"2,538,564",9.07
3,3,4,Gintama°,TV,51,01.04.15,Mar 2016,"624,001",9.06
4,4,5,Shingeki no Kyojin Season 3 Part 2,TV,10,01.04.19,01.07.19,"2,244,066",9.05
...,...,...,...,...,...,...,...,...,...
2995,2995,2982,Break Blade,TV,12,01.04.14,01.06.14,"95,021",7.24
2996,2996,2989,Erementar Gerad,TV,26,01.04.05,01.09.05,"95,518",7.24
2997,2997,3000,Clannad Movie,Movie,1,01.09.07,01.09.07,"175,769",7.23
2998,2998,2999,Boku no Hero Academia: Sukue! Kyuujo Kunren!,OVA,1,01.04.17,01.04.17,"180,091",7.23
2999,2999,2998,Beelzebub-jou no Okinimesu mama.,TV,12,Oct 2018,Dec 2018,"96,428",7.23

In [72]:
def formatter(date):
    if date =='Jan': return '01'
    if date =='Feb': return '02'
    if date =='Mar': return '03'
    if date =='Apr': return '04'
    if date =='May': return '05'
    if date =='Jun': return '06'
    if date =='Jul': return '07'
    if date =='Aug': return '08'
    if date =='Sep': return '09'
    if date =='Oct': return '10'
    if date =='Nov': return '11'
    if date =='Dec': return '12'
    raise ValueError('Invalid date format')

In [73]:
import re
import datetime

column = df['Date_start']
date_column = column.values
date_column = [date if date is not np.NaN else '01.01.1970' for date in date_column]

pattern_correct = r'^\d{2}\.\d{2}\.\d{4}$'
pattern_incorrect = r'^([A-Za-z]{3} )?\d{4}$'
pattern_correct_end = r'\.\d{4}$'
invalid_dates = []

for i in range(len(date_column)):  
    if isinstance(date_column[i], str):
        if re.search(pattern_incorrect,date_column[i]):
            splitted_date = date_column[i].split(' ')
            if len(splitted_date) == 1:
                date_column[i] = f'01.01.{splitted_date[0]}'
            else:
                date_column[i] = f'01.{formatter(splitted_date[0])}.{splitted_date[1]}'
        if not re.search(pattern_correct_end,date_column[i]):
            splitted_date = date_column[i].split('.')
            current_year = datetime.datetime.today().year
            last_year_indexes = str(current_year)[-2:]
            if int(splitted_date[2]) > int(last_year_indexes):
                date_column[i] = f'{splitted_date[0]}.{splitted_date[1]}.19{splitted_date[2]}'
            else:
                date_column[i] = f'{splitted_date[0]}.{splitted_date[1]}.20{splitted_date[2]}'
        
        if not re.search(pattern_correct,date_column[i]):
            invalid_dates.append(date_column[i])
df['Date_start'] = date_column
print(invalid_dates)

[]

In [74]:
column = df['Date_end']
date_column = column.values
date_column = [date if date is not np.NaN else '01.01.1970' for date in date_column]


invalid_dates = []

for i in range(len(date_column)):    
    
    if isinstance(date_column[i], str):
        
        if re.search(pattern_incorrect,date_column[i]):
            splitted_date = date_column[i].split(' ')
           
            if len(splitted_date) == 1:
                date_column[i] = f'01.01.{splitted_date[0]}'
            
            else:
                date_column[i] = f'01.{formatter(splitted_date[0])}.{splitted_date[1]}'
        
        if not re.search(pattern_correct_end,date_column[i]):
            splitted_date = date_column[i].split('.')
            current_year = datetime.datetime.today().year
            last_year_indexes = str(current_year)[-2:]
            if int(splitted_date[2]) > int(last_year_indexes):
                date_column[i] = f'{splitted_date[0]}.{splitted_date[1]}.19{splitted_date[2]}'
            else:
                date_column[i] = f'{splitted_date[0]}.{splitted_date[1]}.20{splitted_date[2]}'
        if not re.search(pattern_correct,date_column[i]):
            invalid_dates.append(date_column[i])

df['Date_end'] = date_column
print(invalid_dates)

[]

In [75]:
column = df['Members']
member_columns = column.values

df['Members'] = [member.replace(',','') for member in member_columns]

In [76]:
column = df['Score']
score_columns = column.values

df['Score'] = [str(score).replace('.',',') for score in score_columns]

In [77]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [78]:
df

,Rank,Title,Type,Type_count,Date_start,Date_end,Members,Score
0,1,Sousou no Frieren,TV,28,01.09.2023,01.03.2024,557553,"9,14"
1,2,Fullmetal Alchemist: Brotherhood,TV,64,01.04.2009,01.07.2010,3310183,"9,09"
2,3,Steins;Gate,TV,24,01.04.2011,01.09.2011,2538564,"9,07"
3,4,Gintama°,TV,51,01.04.2015,01.03.2016,624001,"9,06"
4,5,Shingeki no Kyojin Season 3 Part 2,TV,10,01.04.2019,01.07.2019,2244066,"9,05"
...,...,...,...,...,...,...,...,...
2995,2982,Break Blade,TV,12,01.04.2014,01.06.2014,95021,"7,24"
2996,2989,Erementar Gerad,TV,26,01.04.2005,01.09.2005,95518,"7,24"
2997,3000,Clannad Movie,Movie,1,01.09.2007,01.09.2007,175769,"7,23"
2998,2999,Boku no Hero Academia: Sukue! Kyuujo Kunren!,OVA,1,01.04.2017,01.04.2017,180091,"7,23"
2999,2998,Beelzebub-jou no Okinimesu mama.,TV,12,01.10.2018,01.12.2018,96428,"7,23"

In [79]:
df.to_csv('Data_cleaned.csv')